.explore-container{
    margin: auto;
    /* width: 1500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.explore-parks{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    justify-content: space-evenly;

    /* border-bottom: 1px solid #333; */
}

.explore-container h2{
    margin-right: 40px;

    /* border-bottom: 1px solid #333; */
}

.explore-trails{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    justify-content: space-evenly;
    /* border-bottom: 1px solid #333; */
}
