.create-list-form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
}


.create-list-form-container-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* padding: 10px 0; */
}

.create-list-form-container-box .box-left{
    height: 100%;

    background: url("../../assets/formbg.jpg") no-repeat center;
    background-size: cover;

}

.create-list-form-container-box .box-right{
    padding: 20px;

    height: 100%;
}

.create-list-form-container-box .box-right h3{
    position: relative;
    padding-bottom: 15px;
    margin: 10px 0 10px 0;
}


.create-list-form-container-box .box-right h3::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 160px;
    border-radius: 3px;
    background:#97A675;

}

/* .create-list-form .create-form-content .content-field{
    width: 250px;
    height: 150px;
    padding: 10px;
    outline: none;
    background: rgba(230,230,230,0.7);
    font-size: 12px;
    resize: none;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    overflow: scroll;
} */

.create-list-form .create-form-content input{
    width: 250px;
    height: 40px;
    padding: 10px;
    border: none;
    background: rgba(230,230,230,0.7);
    font-size: 12px;
    resize: none;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    overflow: scroll;
}


.create-list-form .create-form-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
}

.create-list-form .create-form-buttons button{
    text-transform: uppercase;
    width: 100px;
    font-weight: 300;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #868c4e;
    border: 1px solid #fff;
    margin: 0 10px;
}
