.parkList-container{
    display: grid;
    width: 940px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
}

/* .parkList-container .img-container{
    width: 136.66px;
    height: 136.66px;
    object-fit: cover;
} */

.parkList-container .img-container .park-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}



.park-detail-container {
    display: flex;
    flex-direction: column;
    margin: 0 80px;
    /* max-width: 950px; */
    justify-items: center;
    min-width: 950px;
}




.park-detail-container .park-detail-top-box{
    /* height: 400px; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
    margin-bottom: 30px;
    /* background: red; */
}

.park-detail-container .park-detail-top-box h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.13;
    color: #414141;
    margin: 10px 0;
}


.park-detail-container .park-detail-top-box .pre-img .park-detail-preview-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.park-detail-container .park-detail-top-box .detail-text{
    font-size: 18px;
    margin: 20px 0;
    min-width: 800px;
    overflow-wrap: break-word;
    /* overflow: scroll; */

}

.park-detail-container .park-detail-top-box .park-avg-rating-reviews{
    display: flex;
    flex-direction: row;

}

.park-detail-container .park-detail-mid-box{
    /* height: 400px; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(90, 90, 90, 0.3);
    margin-bottom: 30px;
    /* background: red; */
}

.park-detail-container .park-detail-mid-box h2{
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.park-detail-container .park-detail-mid-box .info-box{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-gap: 20px;
}

.park-detail-container .park-detail-mid-box .info-box .hours{
    grid-column: 1/2;
    grid-row: 2/3;
}

.park-detail-container .park-detail-mid-box .info-box .links{
    grid-column: 2/3;
    grid-row: 2/3;
}

.park-detail-container .park-detail-bom-box{
    box-sizing: border-box;
    color: #54677c;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width: 100%;
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.park-detail-container .park-detail-bom-box .trail-box{
    width: 320px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.15);
    padding: 8px 16px;
    margin: 48px 24px;
    height: 380px;
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.park-detail-container .park-detail-bom-box .trail-box .left-img{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 35px -15px rgba(0,0,0,0.15) rgba(0,0,0,0.1);
    transform: translateY(-32px);
    height: 160px;
}

.park-detail-container .park-detail-bom-box .trail-box .left-img img{
    width: 100%;
    transform: scale(1.05);

}

.park-detail-container .park-detail-bom-box .trail-box .left-img .trail-img{

    height: 300px;
    object-fit: cover;
    object-position: center;
    transform: translateY(-70px);



}
.park-detail-container .park-detail-bom-box .trail-box .body-text{
    padding: 0 12px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.park-detail-container .park-detail-bom-box .trail-box .body-text h3{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
}
.park-detail-container .park-detail-bom-box .trail-box .body-text h4{
    font-size: 12px;
    color: #54677c;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
}

.park-detail-container .park-detail-bom-box .trail-box .body-text .content{

    /* justify-content: left; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-wrap: break-word;
    margin-top: 0;
}

.park-detail-container .park-detail-bom-box .trail-box .body-text .content p{
    font-size: 12px;
    color: #333;
    font-weight: 400;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
    left: 0;
}
